<article>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">
                ¿Cruz Azul salado?
            </h1>
            <p class="lead">
                A mí me parece evidente que a Cruz Azul le falta poder e influencias sobre la mesa del fútbol nacional. Cito el PRODE 85' dado que dicho año era el previo al Mundial de México 86'.
            </p>
            <button class="btn btn-primary" routerLink="/"  >Regresar</button>
        </div>
    </div>

    <div class="container">

        <h2>lorem ipsum</h2>
        <img src="assets/img/slide/slide01.jpg" class="py-3 img-fluid">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum vero, consectetur mollitia ducimus ea placeat veritatis totam. Voluptatum qui tenetur ut eum, laboriosam quibusdam amet provident possimus eveniet consequatur ea. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum vero, consectetur mollitia ducimus ea placeat veritatis totam. Voluptatum qui tenetur ut eum, laboriosam quibusdam amet provident possimus eveniet consequatur ea.</div>
        <br>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum vero, consectetur mollitia ducimus ea placeat veritatis totam. Voluptatum qui tenetur ut eum, laboriosam quibusdam amet provident possimus eveniet consequatur ea.</div>
        <br>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum vero, consectetur mollitia ducimus ea placeat veritatis totam. Voluptatum qui tenetur ut eum, laboriosam quibusdam amet provident possimus eveniet consequatur ea.</div>
        <br>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum vero, consectetur mollitia ducimus ea placeat veritatis totam. Voluptatum qui tenetur ut eum, laboriosam quibusdam amet provident possimus eveniet consequatur ea.</div>

    </div>

</article>