<!-- formulario de ingreso -->
<div class="signin text-center" *ngIf="!login">

    <form class="form-signin was-validated" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
        
        <h3 class="mb-3 font-weight-normal">Login </h3>

        <div class="form-group">
            <input 
                type="text" 
                name="usuarioLogin" 
                [(ngModel)]="usuario" 
                id="" class="form-control mt-3" 
                placeholder="Usuario" 
                pattern="(?=.*[A-Za-z]).{4,12}"
                #usuarioLogin="ngModel"
                required>
            <div *ngIf="!usuarioLogin.valid && usuarioLogin.touched" class="invalid-feedback">
                Error en el campo de usuario
            </div>
            <div *ngIf="usuarioLogin.errors?.required && usuarioLogin.touched" class="invalid-feedback">
                Este campo es obligatorio
            </div>
        </div>

        <div class="form-group">
            <input 
                type="password" 
                name="passwordLogin" 
                [(ngModel)]="password" 
                id="" 
                class="form-control mt-3" 
                placeholder="Contraseña" 
                #passwordLogin="ngModel"
                required>
            <div *ngIf="!passwordLogin.valid && passwordLogin.touched" class="invalid-feedback">
                Error en el campo de usuario
            </div>
            <div *ngIf="passwordLogin.errors?.required && passwordLogin.touched" class="invalid-feedback">
                Este campo es obligatorio
            </div>
        </div>
        
        <div *ngIf="!validarLogin" class="alert alert-danger">Usuario y contraseña no validos</div>

        <button [disabled]="!f.valid" class="btn btn-lg btn-primary btn-block mt-3">Ingresar</button>

    </form>

</div>

<!-- lectura de articulo -->
<article *ngIf="login">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">
                ¿Cruz Azul salado?
            </h1>
            <p class="lead">
                A mí me parece evidente que a Cruz Azul le falta poder e influencias sobre la mesa del fútbol nacional. Cito el PRODE 85' dado que dicho año era el previo al Mundial de México 86'.
            </p>
            <button class="btn btn-primary" routerLink="/"  >Regresar</button>
        </div>
    </div>

    <div class="container">
        
        <div [innerHTML]="contenidoArticulo"></div>

    </div>

</article>