<!-- formulario de ingreso -->
<div class="signin text-center" *ngIf="!login">

    <form class="form-signin was-validated" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
        
        <h3 class="mb-3 font-weight-normal">Login </h3>

        <div class="form-group">
            <input type="text" name="" id="" class="form-control mt-3" placeholder="Usuario" required>
            <div class="invalid-feedback">Este campo es obligatorio</div>
        </div>

        <div class="form-group">
            <input type="password" name="" id="" class="form-control mt-3" placeholder="Contraseña" required>
            <div class="invalid-feedback">Este campo es obligatorio</div>
        </div>
        
        <div class="alert alert-danger">Usuario y contraseña no validos</div>

        <button class="btn btn-lg btn-primary btn-block mt-3">Ingresar</button>

    </form>

</div>

<!-- lectura de articulo -->
<article *ngIf="login">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">
                ¿Cruz Azul salado?
            </h1>
            <p class="lead">
                A mí me parece evidente que a Cruz Azul le falta poder e influencias sobre la mesa del fútbol nacional. Cito el PRODE 85' dado que dicho año era el previo al Mundial de México 86'.
            </p>
            <button class="btn btn-primary" routerLink="/"  >Regresar</button>
        </div>
    </div>

    <div class="container">
        
        <div [innerHTML]="contenidoArticulo"></div>

    </div>

</article>